/* General body and container styles */
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Quicksand:wght@300..700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1eded;
}

.container {
  flex: 1;
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar adjustments */
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: #3ef7f4; /* Amarillo de Mercado Libre */
  padding: 15px;
}

.navbar-brand img {
  height: 40px; /* Ajusta el tamaño del logo */
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

/* Search bar adjustments */

#buscarEx {
    border-radius: 5px;
    width: 40%;
    max-width: 500px;
    min-width: 200px;
    border: 1px solid #ddd;
}

/* Navbar link styles */
.nav-link {
  color: black;
  margin-right: 15px;
  font-weight: 500;
}

.nav-link:hover {
  color: #333;
}

.btn-outline-light {
  border-color: #3ed5f7;
  color: black;
}

/* Icons adjustments */
.fa-shopping-cart,
.fa-user-circle {
  margin-right: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar-brand {
    flex-grow: 1;
  }

  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Footer styles */
.footer {
  background-color: #ffffff;
  color: #201f1f;
  padding: 8px 0;
  text-align: center;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo a {
  color: #201f1f;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Social icons in footer */
.social-icons {
  margin-top: 10px;
}

.social-icon {
  color: #201f1f;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
  margin-right: 10px;
}
a {
  color: #2980b9;
  font-weight: bold;
}
.social-icon:hover {
  color: #2980b9;
}
